{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/layout.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/api.css' %}">

{% endblock style %}


<header>
    <div>Alexandre Costa</div>
    <nav>
        <a href="{% url 'portfolio:home'%}">Home</a>
        <a href="{% url 'portfolio:formacao'%}">Formação</a>
        <a href="{% url 'portfolio:projetos'%}">Projetos</a>
        <a href="{% url 'portfolio:projetoFinalDeCurso'%}">Projetos Finais de Curso</a>
        <a href="{% url 'portfolio:web'%}">Programação Web</a>
        <a href="{% url 'portfolio:quizz'%}">Quizz</a>
        <a href="{% url 'portfolio:blog'%}">Blog</a>
        <a href="{% url 'portfolio:about'%}">About</a>
        <a href="{% url 'portfolio:api'%}">APIS</a>

        {% if not user.is_authenticated %}
        <a href="{% url 'portfolio:login'%}">LOGIN</a>
        {% endif %}

        {% if user.is_authenticated %}
        <a href="{% url 'portfolio:logout'%}">LOGOUT</a>
        {% endif %}

    </nav>
</header>

<head>
    <script>
    setInterval(
    function getTime() {
      const x = document.getElementById("logo_time");
      var today = new Date();
      var date = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
      x.innerHTML = " Neste momento são "  + date.toString() + " horas" + "   ULHT, 2022";
    }, 1000);



    </script>
    <script src="{% static 'portfolio/nome.js' %}"></script>
</head>

{% block main %}
<div class="container">
</div>

<div class="Retangulos">

    <div>
        <p class="titulo">Inspirational Quotes API</p>
        <br>
        <button onclick="get_quote()">click me and get an inspirational quote</button>
        <p id="result"></p>
    </div>
</div>

<div class="Retangulos2">

    <div>
        <p class="titulo">Role the Dice API</p>
        <br>
        <button onclick="get_dice()">click me and role the dice</button>
        <p id="dice"></p>
        <p id="talk"></p>

    </div>
</div>


<div class="Retangulos">
    <div>
        <p class="titulo">weather API</p>
        <br>
        <button onclick="get_weather()">Click to get the information about lisbon's weather</button>


        <p id="Descricao"></p>
        <p id="temperatura"></p>
        <p id="Humidity"></p>
        <p id="precip"></p>
        <p id="sunrise"></p>
        <p id="sunset"></p>


    </div>
</div>


{% endblock main %}

<footer>
    <p id="logo_time">
</footer>

