{% extends 'portfolio/layout.html' %}

{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/projetos.css' %}">

{% endblock style %}

{% block main %}

<div class="container">

    <div class="Retangulos">


        {% for projeto in projetos %}


        <div class="texto">


            {% if projeto.nome == "Sinais e Sistemas" %}
            {% load static %}
            <img src="../../static/portfolio/images/sinais.png" alt="erro">
            {% endif %}
            {% if projeto.nome == "Sistema de rega" %}
            {% load static %}
            <img src="../../static/portfolio/images/rega.png" alt="erro">
            {% endif %}
            {% if projeto.nome == "Xadrez" %}
            {% load static %}
            <img src="../../static/portfolio/images/chess.png" alt="erro">
            {% endif %}
            {% if projeto.nome == "Carro Simulação" %}
            {% load static %}
            <img src="../../static/portfolio/images/carro.png" alt="erro">
            {% endif %}
            {% if projeto.nome == "Salto astronauta" %}
            {% load static %}
            <img src="../../static/portfolio/images/astronauta.png" alt="erro">
            {% endif %}
            {% if projeto.nome == "Jogo da Glória" %}
            {% load static %}
            <img src="../../static/portfolio/images/LP2.png" alt="erro">
            {% endif %}
            {% if projeto.nome == "Base de Dados Musical (Java)" %}
            {% load static %}
            <img src="../../static/portfolio/images/AED.png" alt="erro">
            {% endif %}

            <li><b>{{projeto.nome}}</b></li>
            <li>Descrição: {{projeto.descrição}}</li>
            <li>Ano de realização: {{projeto.ano}}</li>
            <li>Participação:
                {% for aluno in projeto.alunos.all %}
                <ol class="nomes">
                    {{aluno.nome}}
                </ol>

                {% endfor %}
            </li>

            {% if not projeto.git == null %}

            <li>Github (ou link): <a href="{{projeto.git}}">{{projeto.nome}}</a>

            </li>

            {% endif %}

            {% if projeto.git == null %}

            <li>Não existe link para download</a>

            </li>

            {% endif %}

        </div>


        {% endfor %}


    </div>
</div>


{% endblock main %}