{% extends 'portfolio/layout.html' %}

{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/projetos.css' %}">

{% endblock style %}

{% block main %}

<div class="container">

    {% if user.is_authenticated %}


    <div class="Retangulos2">
        <div>

            <a href="https://projeto-final-pw22007578.herokuapp.com/admin/portfolio/projetos/add/"> <b>Introduzir
                um novo Projeto</b></a>
        </div>
    </div>
    {% endif %}

    <div class="Retangulos">


        {% for projeto in projetos %}


        <div class="texto">

            {% if not projeto.imagem2 == None %}
            {% load static %}
            <img src="{{projeto.imagem2}}" alt="erro">
            {% endif %}
            <li><b>{{projeto.nome}}</b></li>
            <li>Descrição: {{projeto.descrição}}</li>

            <li>Ano de realização: {{projeto.ano}}</li>
            <li>Participação:
                {% for aluno in projeto.alunos.all %}
                <ol class="nomes">
                    {{aluno.nome}}
                </ol>

                {% endfor %}
            </li>

            {% if not projeto.git == null %}

            <li>Github (ou link): <a href="{{projeto.git}}">{{projeto.nome}}</a>

            </li>

            {% endif %}

            {% if projeto.git == null %}

            <li>Não existe link para download</a>

            </li>

            {% endif %}

        </div>


        {% endfor %}


    </div>
</div>


{% endblock main %}