{% extends 'portfolio/layout.html' %}

{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/projetoFinalDeCurso.css' %}">

{% endblock style %}

{% block main %}

<div class="container">

    <div class="Retangulos2">
        <div>

            <a href="https://projeto-final-pw22007578.herokuapp.com/admin/portfolio/projetofinaldecurso/"> <b>Introduzir
                um novo Projeto final de Curso</b></a>
        </div>
    </div>

    <div class="Retangulos">


        {% for projeto in projetosFinais %}


        <div class="texto">

            {% if not projeto.imagem2 == None %}
            {% load static %}
            <img src="{{projeto.imagem2}}" alt="erro">
            {% endif %}
            <li><b>Autores:</b>
                {% for aluno in projeto.autores.all %}
                <ol>
                    {{aluno.nome}}

                </ol>

            </li>
            {% endfor %}

            <li><b>Trabalho Orientado por:</b>
                {% for professor in projeto.orientadores.all %}
                <ol>
                    {{professor.nome}}
                    <a href="{{professor.link}}">INFO</a>
                </ol>
            </li>
            {% endfor %}


            <li><b> de realização:</b> {{projeto.ano}}</li>
            <li><b>Titulo:</b> {{projeto.titulo}}</li>

            <li><b>Resumo:</b> {{projeto.resumo}}</li>


            <li><b>Github:</b> <a href="{{projeto.link}}">{{projeto.titulo}}</a>

            </li>


        </div>


        {% endfor %}


    </div>
</div>


{% endblock main %}