{% extends 'portfolio/layout.html' %}

{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/web.css' %}">

{% endblock style %}

{% block main %}
<div class="container">

    <div class="Retangulos">

        <div>

            <li>Nome : Cascading Style Sheets</li>
            <li>Acrónimo : CSS</li>
            <li>Ano de Criação: 1996</li>
            <li>Descrição: CSS é a linguegm responssável pela parte grafica de uma web page, nomeadamente, das cores
                fontes e layouts das diferentes páginas. O css é independete do HTML sendo utilizada para fazer
                diferentes
                layouts para todos as diferentes categorias de dispositivos sejam eles de quaisquer dimensões.
            </li>

            <img src="../../static/portfolio/images/css.png" alt="erro">


        </div>
        <div>

            <li>Nome : html</li>
            <li>Acrónimo : HTML</li>
            <li>Ano de Criação:1991</li>
            <li>Descrição: O HTML é a linguagem responsável pela descriçao das extroturas de uma web page sendo uma
                linguagem de marcação
            </li>

            <img src="../../static/portfolio/images/html.png" alt="erro">


        </div>
        <div>
            <li>Nome : DJANGO</li>
            <li>Acrónimo : DJA</li>
            <li>Ano de Criação:2005</li>
            <img src="../../static/portfolio/images/django.png" alt="erro">

            <li>Descrição: O django é uma framework de alto nivel do python criada para um rapido desenvolvimento de
                aplicações web que foi desenvolvida por pessoas bastantes experientes.
            </li>

        </div>

        <div>
            <li>Nome : JavaScript</li>
            <li>Acrónimo : JS</li>
            <li>Ano de Criação:1995</li>

            <img src="../../static/portfolio/images/javascript.png" alt="erro">
            <li>Descrição: É uma linguagem de alto nível multiparadigma e é uma das 3 principais tecnologias de web
                design e esta linguagem é uma das partes essenciais de qualquer aplicação web
            </li>

        </div>


    </div>
    <div class="Retangulos">
        <div><a href="https://a22007578-pw-lab1.herokuapp.com">LABORATORIOS</a></div>
    </div>
    <div class="RetangulosNotifica">
        <div>NOTICIAS</div>
    </div>

    <div class="Retangulos">
        <div>
            <li><b>titulo</b>:10 Recurring Income Ideas You Can Start Today</li>
            <li>Recurring income means earning income from your website even when you’re not actively exchanging your
                time for money. You could be asleep, on a date, at a party, or enjoying a relaxing vacation. Even if
                you’re not doing anything, something will always come in.
            </li>
            <img src="../../static/portfolio/images/noticia1.png" alt="erro">


            <li>
                <a href="https://medium.com/amieians/10-recurring-income-ideas-you-can-start-today-51c91f0d5366">LINK</a>
            </li>
        </div>

        <div>
            <li><b>titulo</b>:Rust vs Go: Which is the best programming language to use in 2022?</li>
            <li>In the past decade, many programming languages have emerged, selecting the best suitable programming
                language for your application in this dynamic environment is a crucial decision to make. Developers need
                to use the most reliable language for the development of the application.
            </li>
            <img src="../../static/portfolio/images/noticia2.png" alt="erro">
            <li>
                <a href="https://medium.com/@terasol/rust-vs-go-which-is-the-best-programming-language-to-use-in-2022-ea1838271c32">LINK</a>
            </li>
        </div>


        <div>
            <li><b>titulo</b>:3 Free Machine Learning Courses You Should Take Right Now</li>

            <li>There are many machine learning courses available online. They range from short courses to much longer
                MOOCs (Massive Open Online Courses), and they can vary considerably in price.
            </li>
            <img src="../../static/portfolio/images/noticia3.png" alt="erro">
            <li>
                <a href="https://medium.com/towards-data-science/3-free-machine-learning-courses-you-should-take-right-now-7bf4e6b459fe">LINK</a>
            </li>
        </div>


        <div>
            <li><b>titulo</b>:Responsibilities of a Senior Software Engineer</li>
            <li>I’ve gone through the whole deal — I’ve been a Junior, Mid, and then a Senior Software Engineer, and I
                saw all kinds of different “definitions” for the aforementioned roles.
            </li>
            <img src="../../static/portfolio/images/noticia4.png" alt="erro">
            <li>
                <a href="https://medium.com/@be-ja/responsibilities-of-a-senior-software-engineer-e30d3989610">LINK</a>
            </li>
        </div>


        <div>
            <li><b>titulo</b>:Goodbye LinkedIn…For Now</li>
            <li>I’ve had a turbulent, on and off again, relationship with LinkedIn. When I first started posting about
                two and a half years ago, it was nearly universally positive. I couldn’t believe I could write stuff and
                people would pay attention to me. The ego trip was intoxicating.
            </li>
            <img src="../../static/portfolio/images/noticia5.png" alt="erro">
            <li>
                <a href="https://medium.com/@mahler101/goodbye-linkedin-for-now-9c365fd7ce">LINK</a>
            </li>
        </div>


        <div>
            <li><b>titulo</b>:Ten Optimization Tricks to Make Your Java Application Run Faster</li>
            <li>If this thread creation needs to deal with a large number of requests, it is likely to cause your
                program to create and destroy threads frequently and switch thread contexts frequently, wasting CPU
                resources and even running out of memory.
            </li>
            <img src="../../static/portfolio/images/noticia6.png" alt="erro">
            <li>
                <a href="https://medium.com/javarevisited/ten-optimization-tricks-to-make-your-java-application-run-faster-9742f568ed6f">LINK</a>
            </li>
        </div>


        <div>
            <li><b>titulo</b>:C Isn’t A Programming Language Anymore</li>
            <li>Phantomderp and I have both recently been very aligned on a particular subject: being extremely angry
                about C ABIs and trying to fix them. Where we’re not aligned is why we’re mad about them.
            </li>
            <img src="../../static/portfolio/images/noticia7.png" alt="erro">
            <li>
                <a href="hhttps://medium.com/@Aaron-007/c-isnt-a-programming-language-anymore-183e432c32db">LINK</a>
            </li>
        </div>


        <div>
            <li><b>titulo</b>:My top 10 Mac Apps used as a Software Engineer in 2022</li>
            <li>I been thinking about doing this post for a while, this list contains the top 10 apps I use on a daily
                basis as a Software Engineer; the list also includes a few examples on how I use the app and how much
                they cost.


            </li>
            <img src="../../static/portfolio/images/noticia8.png" alt="erro">
            <li>
                <a href="https://medium.com/@alfredohinojosa/my-top-10-mac-apps-used-as-a-software-engineer-in-2022-e364e9b30d95">LINK</a>
            </li>
        </div>


        <div>
            <li><b>titulo</b>:My VS Code setup for 2022</li>
            <li>I have been using visual studio code for the last 3–4 years and even though I don’t like how
                resource-intensive it is but when it comes to features and customization it never disappoints me. I’m
                really loving the setup I have now so I thought I should write about my current vs code setup.
            </li>
            <img src="../../static/portfolio/images/noticia9.png" alt="erro">
            <li>
                <a href="https://medium.com/@itsjzt/my-vs-code-setup-for-2022-663ccec5195e">LINK</a>
            </li>
        </div>


        <div>
            <li><b>titulo</b>:PHP — additional coding standards</li>
            <li>Normally we sniff our code against the PHP_CodeSniffer Drupal standard which is a great metric to check
                if the written code adheres to the defined Drupal Coding standards or not 😅.
            </li>
            <img src="../../static/portfolio/images/noticia10.png" alt="erro">
            <li>
                <a href="https://medium.com/@vishwa.chikate/php-additional-coding-standards-bef833fc154d">LINK</a>
            </li>
        </div>


    </div>

</div>

{% endblock main %}




