{% extends 'portfolio/layout.html' %}

{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/web.css' %}">

{% endblock style %}

{% block main %}
<div class="container">

    <div class="Retangulos">
        {% for tecnologia in tecnologias %}
        <div>

            <li>Nome : {{tecnologia.nome}}</li>
            <li>Acrónimo : {{tecnologia.acrónimo}}</li>
            <li>Ano de Criação: {{tecnologia.ano}}</li>
            <li>Descrição: {{tecnologia.descrição}}</li>
            <img src="{{tecnologia.logotipo2}}" alt="erro">


        </div>

        {% endfor %}
    </div>

    <div class="Retangulos">
        <div><a href="https://a22007578-pw-lab1.herokuapp.com">LABORATORIOS</a></div>
    </div>

    <div class="RetangulosNotifica">
        <div>NOTICIAS</div>
    </div>


    <div class="Retangulos">
        {% for noticia in noticias %}


        <div class="texto">


            <li><b>titulo: {{noticia.titulo}}</b></li>
            <li>Descrição: {{noticia.descrição}}</li>
            <img src="{{noticia.descrição}}" alt="erro">


            <li><a href="{{noticia.link}}">LINK</a></li>


        </div>


        {% endfor %}


    </div>

</div>

{% endblock main %}




