{% extends 'portfolio/layout.html' %}

{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/web.css' %}">

{% endblock style %}

{% block main %}
<div class="container">

    <div class="Retangulos">

        <div>

            <li>Nome : Cascading Style Sheets</li>
            <li>Acrónimo : CSS</li>
            <li>Ano de Criação: 1996</li>
            <li>Descrição: CSS é a linguegm responssável pela parte grafica de uma web page, nomeadamente, das cores
                fontes e layouts das diferentes páginas. O css é independete do HTML sendo utilizada para fazer
                diferentes
                layouts para todos as diferentes categorias de dispositivos sejam eles de quaisquer dimensões.
            </li>

            <img src="../../static/portfolio/images/css.png" alt="erro">


        </div>
        <div>

            <li>Nome : html</li>
            <li>Acrónimo : HTML</li>
            <li>Ano de Criação:1991</li>
            <li>Descrição: O HTML é a linguagem responsável pela descriçao das extroturas de uma web page sendo uma
                linguagem de marcação
            </li>

            <img src="../../static/portfolio/images/html.png" alt="erro">


        </div>
        <div>
            <li>Nome : DJANGO</li>
            <li>Acrónimo : DJA</li>
            <li>Ano de Criação:2005</li>
            <img src="../../static/portfolio/images/django.png" alt="erro">

            <li>Descrição: O django é uma framework de alto nivel do python criada para uma rapida d
            </li>

        </div>

        <div>
            <li>Nome : JavaScript</li>
            <li>Acrónimo : JSC</li>
            <li>Ano de Criação:1995</li>

            <img src="../../static/portfolio/images/javascript.png" alt="erro">


        </div>


    </div>


</div>

{% endblock main %}




